{% if nginx_default_server %}server_tokens off;{% endif %}

server {
    listen 80{% if nginx_default_server %} default_server{% endif %};
    listen [::]:80{% if nginx_default_server %} default_server{% endif %};
    server_name {{ dns_name }};

    location /.well-known/acme-challenge {
        root /var/www/letsencrypt;
        try_files $uri $uri/ =404;
    }

    location / {
        rewrite ^ https://{{ dns_name }}$request_uri? permanent;
    }
}

